.container-fluid {
    width: 98% !important;
}


.serach-bar {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.584) !important;
    outline: none;
    width: 100% !important;
    display: flex;
    justify-content: end;
}